@font-face {
   font-family: 'Futura PT Demi';
   src: url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
       url('../fonts/FuturaPT-Demi.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Futura PT Book';
   src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
       url('../fonts/FuturaPT-Book.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Futura PT';
   src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
       url('../fonts/FuturaPT-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

.text-label {
    font-family: 'Futura PT Demi';
    font-size: 0.75rem;
    color: #adadad;
    text-transform: uppercase;
}