//Forms
textarea {
   font-family: inherit;
   font-size: inherit;
   resize: none;
}

select,
option {
   font-family: inherit;
   font-size: inherit;
}

.f-label {
   display: flex;
   align-items: center;
   font-family: 'Futura PT Demi';
   font-size: 0.75rem;
   text-transform: uppercase;
   color: #adadad;
   margin-bottom: 8px;
   &::before {
      font-size: 20px;
      color: $primary-color;
      margin-right: 8px;
   }
}

.f-control {
   // height: 48px;
   border: none;
   border-radius: 24px;
   background-color: #f9f9f9;
   font-family: inherit;
   font-size: 18px;
   line-height: 24px;
   padding: 12px 22px;
}

.f-control-ico {
   background-repeat: no-repeat;
   background-position: calc(100% - 22px) 50% ;
}

.f-control-ico--search {
   background-image: url(../img/svg/search-ico.svg);
}


.f-select {
   height: 48px;
   border-radius: 24px;
   background-color: #f9f9f9;
   font-size: 18px;
   padding: 0 1.75rem 0 22px;
   appearance: none;
   color: $title-color;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
   background-repeat: no-repeat;
   background-position: right 0.75rem center;
   background-size: 16px 12px;
   &:active {
      appearance: none;
   }
}

.input-attachment {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   cursor: pointer;
}

.label-attachment {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 48px;
   background-color: #F9F9FF;
   border-radius: 16px;
   color: #9EA0DC;
}

.temp-holder::placeholder {
   color: #000000;
}

// Radio buttons
.f-check-group {
   display: flex;
   height: 48px;
   align-items: center;
}

.f-check-input:checked + .f-check-label::after {
   transform: scale(1);
}

.f-check-input {
   display: none;
}

.f-check-label {
   position: relative;
   display: inline-flex;
   font-family: 'Futura PT';
   font-size: 1rem;
   align-items: center;
   cursor: pointer;
   span {
      flex-shrink: 0;
   }
   &:before {
      content: '';
      flex: 0 0 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #E8E9FE;
      margin-right: 8px;
   }
   &:after {
      position: absolute;
      content: '';
      top: 6.5px;
      left: 4px;
      width: 8px;
      height: 8px;
      background-color: $primary-color;
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.3s ease 0s;
   }
}


.form-check-input {
   display: none;
}

.form-check-input:checked + .form-check-label::after {
   display: block;
}

.form-check-label {
   font-family: 'Futura PT';
   font-size: 1rem;
   display: inline-flex;
   align-items: center;
   position: relative;
   cursor: pointer;
}

.form-check-label::before {
   content: '';
   // align-self: flex-start;
   flex: 0 0 16px;
   height: 16px;
   background-color: #E8E9FE;
   margin-right: 8px;
   border-radius: 4px;
   position: relative;
}

.form-check-label::after {
   content: url(../img/svg/check-ico.svg);

   top: 0;
   left: 0;
   position: absolute;
   display: none;
}

