// Tabs
.tabs-list {
   display: flex;
   
   margin: 0 -12px;
   margin-bottom: 2.5rem;
}

.tab-item {
   margin: 0 12px;
   width: 100%;
   
   
}
.tab {
   padding: 16px;
   font-family: 'Futura PT Demi';
   font-size: 1.125rem;
   text-decoration: none;
   color: #BFBFBF;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   height: 64px;
   border-radius: 16px;
   box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.05);
   transition: all 0.3s ease 0s;
   &:hover {
      color: $title-color;
      box-shadow: 0px 3px 16px rgba(76, 81, 204, 0.15);
   }
   &-active {
      color: $title-color;
      box-shadow: 0px 3px 16px rgba(76, 81, 204, 0.15);
   }
}