// Tabs
.tabs-list {
   display: flex;
   
   margin: 0 -12px;
   margin-bottom: 2.5rem;
}

.tab-item {
   margin: 0 12px;
   width: 100%;
   
   
}
.tab {
   padding: 16px;
   font-family: 'Futura PT Demi';
   font-size: 1.125rem;
   text-decoration: none;
   color: #BFBFBF;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   height: 64px;
   border-radius: 16px;
   box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.05);
   transition: all 0.3s ease 0s;
   &:hover {
      color: $title-color;
      box-shadow: 0px 3px 16px rgba(76, 81, 204, 0.15);
   }
   &-active {
      color: $title-color;
      box-shadow: 0px 3px 16px rgba(76, 81, 204, 0.15);
   }
}

.tabs-list-2 {
   display: flex;
   flex-wrap: wrap;
   margin-right: -12px;
   margin-left: -12px;
   margin-bottom: 1.5rem;
}

.tab-item-2 {
   margin: 0 12px;
   margin-bottom: 24px;
}

.tab-2 {
   padding: 16px 24px;
   font-family: 'Futura PT Demi';
   font-size: 1.125rem;
   text-decoration: none;
   color: #BFBFBF;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   height: 64px;
   border-radius: 16px;
   box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.05);
   transition: all 0.3s ease 0s;
   &::before {
      content: '';
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background: no-repeat center / 100%;
   }
   &--reg::before {
      background-image: url(../img/tab-icons/book-pen-ico-dsbl.png);
   }

   &--trip::before {
      background-image: url(../img/tab-icons/resume-ico-dsbl.png);
   }

   &--report::before {
      background-image: url(../img/tab-icons/list-ico-dsbl.png);
   }

   &:hover {
      color: $title-color;
      box-shadow: 0px 3px 16px rgba(76, 81, 204, 0.15);
   }
   &-active {
      color: $title-color;
      box-shadow: 0px 3px 16px rgba(76, 81, 204, 0.15);
   }
}