
@import "variables";
@import "helpers/fonts";
@import "helpers/helpers-temp";
@import "components/buttons";
@import "components/tables";
@import "components/tabs";
@import "components/forms";
@import "components/cards";

//blocks
@import "blocks/signin";
@import "blocks/welcome";
@import "blocks/header";



* {
   margin: 0;
   padding: 0;
   border: none;
}

*, *::before, *::after {
   box-sizing: border-box;
}

ul li {
   list-style: none;
}

body {
   font-family: 'Futura PT Book', sans-serif;
   font-size: 1rem;
   background: #fafafa;
}

html, body {
   height: 100%;
}

hr {
   margin-top: 1rem;
   margin-bottom: 1rem;
   border: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
 }

 .sticky th {
    position: sticky;
    top: 0;
    background: #dedede;
 }

.d-flex {
   display: flex;
}
.justify-content-between {
   justify-content: space-between;
}

.justify-content-center {
   justify-content: center;
}

.justify-content-end {
   justify-content: end;
}

.align-items-center {
   align-items: center;
}

.align-self-end {
   align-self: flex-end;
}

.d-block {
   display: block;
}
.hide {
   display: none;
}

.text-primary {
   color: $primary-color;
}

.text-secondary {
   color: $secondary-color;
}

.text-info {
   color: $info-color;
}

.text-danger {
   color: $danger-color;
}

.text-success {
   color: $success-color;
}

.text-error {
   color: $error-color;
}

.text-muted {
   color: #bdbdbd
}

.bg-primary {
   background-color: $primary-color !important;
}

.bg-secondary {
   background-color: $secondary-color !important;
}

.bg-info {
   background-color: $info-color !important;
}

.bg-danger {
   background-color: $danger-color !important;
}

.bg-success {
   background-color: $success-color !important;
}

.bg-error {
   background-color: $error-color !important;
}



.main {
   position: relative;
   width: 100%;
}

.content {
   display: flex;
   justify-content: space-between;
}

.title {
   font-family: 'Futura PT';
   color: $title-color;
   text-transform: uppercase;
   font-size: 1.125rem;
}

.icon-muted {
   fill: #e0e0e0;
}

.sidebar-left {
   position: relative;
   flex: 0 0 220px;
   min-height: calc(100vh - 116px);
   background: #ffffff;
   box-shadow: 4px 0px 24px rgba(0, 0, 0, 0.04);
   z-index: 5;
   padding: 8px;
   display: none;
}

.sidebar-left--show {
   display: inline-flex;
}

.sidebar-left__menu {
   //width: 48px;
   margin: 28px auto 0 auto;
}


.nav-link {
   display: flex;
   height: 48px;
   align-items: center;
   margin-bottom: 1.5rem;
   color: #bdbdbd;
   text-decoration: none;
   transition: All 0.3s ease 0s;
   & svg {
      margin: 11px;
      transition: All 0.3s ease 0s;
   }
} 


.nav-link--active,
.nav-link:hover {
   color: #000000;
}

.nav-link--active svg,
.nav-link:hover svg {
   fill: $primary-color;
}

.sidebar-right {
   flex: 0 0 240px;
   min-height: calc(100vh - 116px);
   background: #ffffff;
   padding: 32px;
   border-left: 1px solid #f2f2f2;
   transition: all 0.5s ease 0s;
}

#sidebarBtn img {
   transform: scale(-1, 1);
}

.sidebar-right.show-menu {
   flex: 0 0 64px;
   padding: 32px 24px;
 
}

.show-menu {
   .sbar--show {
      display: none;
   }
   .sidebar__var-ico {
      display: inline-flex;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ffffff;
      justify-content: center;
      align-items: center;
      cursor: default;
      transition: All 0.3s ease 0s;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
   }
   #sidebarBtn img {
      transform: scale(1, 1);
   }
}
 
.sidebar__toggler {
   display: flex;
   align-items: center;
   cursor: pointer;
   &:hover {
      color: $title-color;
   }
}

.sidebar__desc {
   font-family: 'Futura PT';
   color: $title-color;
   margin-left: 0.5rem;
}

.sidebar-ico {
   display: block;
   width: 20px;
   height: auto;
}

.sidebar__date-current {
   font-family: 'Futura PT Demi';
   color: $title-color;
}
.sidebar__weekday {
   font-family: 'Futura PT';
   color: #828282;
}

.table-sect {
   background: #fff;
   min-height: calc(100vh - 116px);
}
.group {
   display: flex;
   justify-content: space-between;
}

.map-img {
   width: 100%;
   height: auto;
}

.breadcrumb {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   &-item {
      display: flex;
   }
   & a {
      text-decoration: none;
      color: $primary-color;
   }
}

.legend {
   display: flex;
   font-size: 12px;
   color: #4F4F4F;
   margin-bottom: 1.5rem;
}
.legend__item {
   display: flex;
   align-items: center;
   margin-right: 1.5rem;
   position: relative;
}

.legend__item p {
   margin-left: 6px;
}



.status {
   display: block;
   width: 16px;
   height: 16px;
   border-radius: 4px;
   color: #ffffff;
   line-height: 16px;
   &-1 {
      background-color: $primary-color;
   }
   &-2 {
      background-color: #63BDFF;
   }
   &-3 {
      background-color: #4CCCA5;
   }
   &-4 {
      background-color: #F2CA62;
   }
   &-5 {
      background-color: #CC4C63;
   }
}

.user {
   display: flex;
   align-items: center;
}

.user__pict {
   width: 48px;
   height: 48px;
   border-radius: 8px;
   overflow: hidden;
   margin-right: 8px;
}

.user__role {
   display: block;
   font-family: 'Futura PT Demi';
   font-size: 0.75rem;
   text-transform: uppercase;
   color: #adadad;
}
.user__fio {
   font-family: 'Futura PT Demi';
   color: #333333;
   font-size: 1rem;
}

.subtitle-divider {
   display: flex;
   overflow: hidden;
   align-items: center;
   font-family: 'Futura PT Demi';
   color: #333333;
   font-size: 1rem;
   text-transform: uppercase;
   &::after {
      content: '';
      position: relative;
      margin-right: -100%;
      width: 100%;
      height: 1px;
      background: #f2f2f2;
      right: -8px;
   }
}

.row {
   display: flex;
   flex-wrap: wrap;
   margin-left: -12px;
   margin-right: -12px;
}

.col-1 {
   width: calc((100% / 12) - 24px);
   margin-left: 12px;
   margin-right: 12px;
}

.col-2 {
   width: calc((100% / 6) - 24px);
   margin-left: 12px;
   margin-right: 12px;
}

.col-3 {
   width: calc((100% / 4) - 24px);
   margin-left: 12px;
   margin-right: 12px;
}

.col-4 {
   width: calc(33.33% - 24px);
   margin-left: 12px;
   margin-right: 12px;
}

.col-6 {
   width: calc(50% - 24px);
   margin-left: 12px;
   margin-right: 12px;
}

.col-8 {
   width: calc(75% - 24px);
   margin-left: 12px;
   margin-right: 12px;
}

.col-12 {
   width: calc(100% - 24px);
   margin-left: 12px;
   margin-right: 12px;
}

.col-10pc {
   width: calc(10% - 24px);
   flex-shrink: 0;
   margin-left: 12px;
   margin-right: 12px;
}

.col-30pc {
   width: calc(30% - 24px);
   margin-left: 12px;
   margin-right: 12px;
}

.map {
   position: relative;
}
.card-map {
   position: absolute;
   width: 344px;
   top: 48px;
   left: 24px;
}

.progress {
   width: 100%;
   height: 24px;
   background-color: #f9f9f9;
   border-radius: 12px;
}

.progress-done {
   height: 100%;
   background-color: #4c51cc;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 0;
   opacity: 0;
   transition: 1s ease;
   color: #fff;
}



